* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #2563eb;      
  --secondary: #9333ea;    
  --bg: linear-gradient(135deg, #2563eb, #9333ea); 
  --text: #f8fafc;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


header {
  padding: 1rem 2rem;
  background: white;
}

header h1 {
  color: var(--primary);
}

.logo {
  height: 50px;
}

menu {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
}

menu a {
  text-decoration: none;
  color: var(--text);
}

menu a:hover {
  color: var(--primary);
}
